<div id="user_update_personal">
	<h3>Datos</h3>
	<%= form_for :user, html: {onsubmit: "validity.form(this);"}, remote: true, url: {action: "update"} do |u| %>
		<fieldset>
			<div class="field">
				<%= u.hidden_field :id %>
				<div class="section group">
					<div class="col span_1_of_2">
						<%= u.label :username, "Nombre de usuario", class: "required" %>
					</div> 
					<div class="col span_1_of_2">
						<%= u.text_field :username, maxlength: 10, pattern: "[a-zA-Z0-9]{5,10}$", autocomplete: "off", required: true %>
						 <div class="validateMsg"></div>
					</div>
				</div>
			</div>
			<div class="field">
				<div class="section group">
					<div class="col span_1_of_2">
						<%= u.label :email, "Correo electrónico", class: "required" %>
					</div>
					<div class="col span_1_of_2">
						<%= u.email_field :email, autocomplete: "off", required: true %>
					 	<div class="validateMsg"></div>
					</div>
				</div>
			</div>
			<div class="field">
				<div class="section group">
					<div class="col span_1_of_2">
						<%= u.label :occupation, "Ocupación"%>
					</div> 
					<div class="col span_1_of_2">
					<%= u.select :occupation, options_for_select([["Seleccione","null"], "Profesor/Investigador", "Estudiante", "Otro"], @user.occupation) %>
					</div>
				</div>
			</div>
			<div class="field">
				<div class="section group">
					<div class="col span_1_of_2">
						<%= u.label :rol, "Rol", class: "required" %>
					</div> 
					<div class="col span_1_of_2">
					<%= u.select :rol, options_for_select(["user", "admin"], @user.rol), required: true %>
					<div class="validateMsg"></div>
					</div>
				</div>
			</div>
		</fieldset>
		
		<button class="btn-text progress" type="submit">
			<div class="content" data-success="Actualizado" data-error="Inválido">Actualizar</div>
		</button>
	<% end %>
</div>

<div id="user_update_password">
	<h3>Contraseña</h3>
	<%= form_for :user, html: {onsubmit: "validity.form(this);"}, remote: true, url: {action: "updatePassword"} do |u| %>
		<fieldset>
			<%= u.hidden_field :id %>
			<div class="field">
				<div class="section group">
					<div class="col span_1_of_2">
						<%= u.label :password, "Contraseña", class: "required" %>
					</div>
					<div class="col span_1_of_2">
						<%= u.password_field :password, maxlength: 5, pattern: "[a-zA-Z0-9-(!@#$%&?)]{5}$", autocomplete: "off", required: true %>
						<div class="validateMsg"></div>
					</div>
				</div>
			</div>
			<div class="field">
				<div class="section group">
					<div class="col span_1_of_2">
						<%= u.label :passwordConfirm, "Confirmar contraseña", class: "required" %>
					</div>
					<div class="col span_1_of_2">
						<%= u.password_field :passwordConfirm, maxlength: 5, autocomplete: "off", required: true %>
					 	<div class="validateMsg"></div>
					</div>
				</div>
			</div>
		</fieldset>
		
		<button class="btn-text progress" type="submit">
			<div class="content" data-success="Actualizado" data-error="Inválido">Actualizar</div>
		</button>
	<% end %>
</div>